<form action="/figures/:id" method="POST">
    Name: <input type="text" id="figure_name" name="figure[name]">

    <h2>Titles</h2>
    <% Title.all.each do |title| %>
        <input type="checkbox" id="title_<%= title.id %>" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %><br>
    <% end %>

    <h2>Create New Title</h2>
    <input type="text" id="new_title" name="title[name]">

    <h2>Landmarks</h2>
    <% Landmark.all.each do |landmark| %>
        <input type="checkbox" id="landmark_<%= landmark.id %>" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %><br>
    <% end %>

    <h2>Create New Landmark</h2>
    Name: <input type="text" id="new_landmark" name="landmark[name]"> Year: <input type="text" name="landmark[year_completed]]">

    <input type="submit" id="Create New Figure" value="Create New Figure">
</form>